.main-wrapper{
    display: flex;
}

.main-wrapper .middle-main-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Card-main-div{
    width: 15rem;
    padding: 10px;
    border-radius: 0.2rem;
    margin: 1rem;
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.09), 0 10px 10px rgba(0, 0, 0, 0.09);

}
.Card-main-div .img-div img{
    width: 100%;
    height: auto;
}
.Card-main-div .img-div .product-info{
    margin: 0.2rem;
}
.Card-main-div .img-div .product-info .material-name{
    font-size: 18px;
    font-weight: 500;
    opacity: 0.5;
}
.Card-main-div .img-div .product-info .product-price{
    color: black;
    font-weight: bold;
    margin-top: 0.7rem;
}

.Card-main-div .bottom-btn-div{
    justify-content: space-evenly;
    margin-top: 0.5rem;
}
.Card-main-div .bottom-btn-div button{
    justify-content: space-around;
    height: 100%;
    padding: 10px;
    border: none;
    width: 50%;
    background-color: white;
}
.Card-main-div .bottom-btn-div button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.4s;
}
/* Fast Dilvery Satus */
.Card-main-div .img-div .product-info .FastDelivery-Tag-true{
    color: red;
    margin-top: 0.7rem;
}
.Card-main-div .img-div .product-info .FastDelivery-Tag-false{
    text-decoration: line-through;
    margin-top: 0.7rem;
}
/* In Stock Status */
.Card-main-div .img-div .product-info .inStock-Tag-False{
    font-weight: 600;
    color: #00fa9a;
}
.Card-main-div .img-div .product-info .inStock-Tag-True{
    font-weight: 500;
    text-decoration: line-through;
}