.Home-main-div {
  width: 100%;
}
.Home-main-div .Home-img-div{
  height: 30rem;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}
.Home-main-div .Home-img-div img{
  margin: 0 auto;
  width: 90%;
  height: 100%;
}
.Home-main-div .Home-img-div button{
  width: 10rem;
  height: 3.5rem;
  border-radius: 5px;
  margin-right: 2%;
  font-size: 22px;
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.09), 0 10px 10px rgba(0, 0, 0, 0.09);
  background-color: white;
}
.Home-main-div .Home-img-div button:hover{
  background-color: black;
  color: white;
  cursor: pointer;
  transition: 0.4s;
}
