.navbar{
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-bottom: 1px solid gray;
    padding: 1rem;
    color: black;
}
.navbar .Fashion-Name{
    width: 9rem;
}
.navbar div .navbar-brand{
    text-decoration: none;
    color: red;
}
.navbar div .navbar-brand span{
    color: black;
}

.navbar div{
    font-size: 18px;
    font-weight: 400;
}
.navbar div:hover{
    cursor: pointer;
    color: red;
}

.navbar .div-Cartbtn{
   /* background-color: red; */
   padding-left: 2rem;
   padding-right: 2rem;
}
.navbar .div-Cartbtn button{
    width: 7rem;
    height: 2rem;
    font-style: 18px;
    background-color: white;
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.09), 0 10px 10px rgba(0, 0, 0, 0.09);
}
.navbar .div-Cartbtn button:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}
